node_modules
/.next
/.vercel
/.output
cloudbuild.yaml
Dockerfile
/*.md
/hardhat
/.env*
/.dev.vars
/.github
/.git
/.wrangler
/packages/*/node_modules
/packages/*/dist
.DS_Store
/*.log
/.dockerignore
/LICENSE
/.vscode
/.gitignore
