node_modules
/.next
/.vercel
/.output
cloudbuild.yaml
/Dockerfile*
/*.md
/hardhat
/.env*
/.dev.vars
/.github
/.wrangler
/packages/*/node_modules
/packages/*/dist
/submods/*/node_modules
.DS_Store
/*.log
/.dockerignore
/LICENSE
/.vscode
/.gitignore
/conciliator-*.json
/packages
/submods
